  {% extends 'base.html' %}
  {% block content %}
      <section class="pt-4 pt-md-5" style=" height:70%;">
        <div class="container" style="padding-top: 5%">
          <div class="row align-items-center">
            <div class="col-md-5 col-lg-6 order-md-1"><img class="img-fluid mb-5 mb-md-0" src="https://scontent.fcgh43-1.fna.fbcdn.net/v/t1.0-9/87044813_637431220426804_5619597976738463744_o.png?_nc_cat=104&ccb=2&_nc_sid=730e14&_nc_eui2=AeHO8eXqSpJi0yptmm6ccfa0gO5PQ296sLqA7k9Db3qwuhG8p4uu6ZyxP8-aqm1asbDIS0OnRBIphgJo8JBAjQuI&_nc_ohc=-s1PCVZ49M8AX9nyA_T&_nc_ht=scontent.fcgh43-1.fna&oh=13af18848e3fc541ef0b339d2b51de61&oe=5FF56B0E" alt=""></div>
            <div class="col-md-7 col-lg-6">
              <h1 class="display-6 text-center text-md-left">Bom-vindo à nova versão do <span class="text-primary">Terra MA2</span>. <br>Serviço de Coleta de dados.</h1>
              <p class="lead text-center text-md-left text-muted mb-3">Novo serviço de colata do TerraMA2 <br class="d-none d-xl-block d-xxl-none"></p>
              <div class="text-center text-md-left pt-4"><a class="btn btn-lg btn-primary hover-top-shadow mr-3" href="#">Cadastrar
                  <svg class="bi bi-arrow-right-short" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.793 8 8.146 5.354a.5.5 0 0 1 0-.708z"></path>
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5H11a.5.5 0 0 1 0 1H4.5A.5.5 0 0 1 4 8z"></path>
                  </svg></a><a class="btn btn-lg btn-light text-primary shadow-lg hover-top-shadow" href="documentation.html">Entrar</a></div>
            </div>
          </div>
        </div>
      </section>

      <section class="py-5 border-bottom">
        <div class="container">
          <div class="row">
            <div class="col-6 col-sm-4 col-md-2 mb-2 mb-md-0"><img class="img-fluid" src="assets/img/gallery/1.png" alt=""></div>
            <div class="col-6 col-sm-4 col-md-2 mb-2 mb-md-0"><img class="img-fluid" src="assets/img/gallery/2.png" alt=""></div>
            <div class="col-6 col-sm-4 col-md-2 mb-2 mb-md-0"><img class="img-fluid" src="assets/img/gallery/3.png" alt=""></div>
            <div class="col-6 col-sm-4 col-md-2 mb-2 mb-sm-0"><img class="img-fluid" src="assets/img/gallery/4.png" alt=""></div>
            <div class="col-6 col-sm-4 col-md-2 mb-2 mb-sm-0"><img class="img-fluid" src="assets/img/gallery/5.png" alt=""></div>
            <div class="col-6 col-sm-4 col-md-2 mb-2 mb-sm-0"><img class="img-fluid" src="assets/img/gallery/6.png" alt=""></div>
          </div>
        </div>
      </section>

      <section class="bg-light py-5 py-md-8" id="about">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md px-xl-7 p-xxl-8 order-md-1 mb-4 mb-md-0 pl-md-4">
              <h2>Plataforma de monitoramento, análise e alerta á<span class="text-success mt-2 d-block">extremos ambientais.</span></h2>
              <p class="text-muted">A plataforma computacional TerraMA² foi planejada dentro da linha de produtos de base tecnológica inovadora,
                no domínio de softwares abertos, com extensivo uso de nossa biblioteca geográfica TerraLib, além de atender uma demanda crescente
                de aplicações de monitoramento, análise e alerta em áreas como qualidade do ar, qualidade da água, gasodutos, barragens de rejeito
                em área de mineração, incêndios florestais, movimentos de massa do tipo escorregamentos e corridas de lama, enchentes e estiagens.</p>
            </div>
            <div class="col-lg-auto col-md-5 col-lg-6 order-md-0">
              <div class="img-fluid mb-5 mb-md-0"><img class="card-img-top card-img-curve" src="https://mundogeo.com/wp-content/uploads/2017/12/Fig6_1.png" alt="">
              </div>
            </div>
          </div>
          <div class="row align-items-center mt-md-8 mt-5">
            <div class="col-md-7 col-lg-6 pr-lg-4 pr-xl-7">
              <h2>Equipe de desenvolvimento<br><span class="text-primary">
                  do TerraMA2.	</span></h2>
              <p class="text-muted mb-4"> Estes são os desenvolvedores da nova versão do TerraMA2 -  Collector.</p>
              <div class="d-flex align-items-start"><img src="assets/img/gallery/folder_plus.png" alt="" width="30" height="30">
                <div class="ml-3">
                  <h5>Guilherme Anderson</h5>
                  <p class="text-muted mb-4">Estudante de Banco de Dados, na FATEC de São José dos Campos.</p>
                </div>
              </div>
              <div class="d-flex align-items-start"><img src="assets/img/gallery/layer.png" alt="" width="30" height="30">
                <div class="ml-3 mb-3">
                  <h5>Start your project with us</h5>
                  <p class="text-muted mb-6 mb-md-0">Our work doesn't end with the making of excellent products. We continue to thrive by helping our clients.</p>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-lg-6"><img class="img-fluid img-skew" src="assets/img/gallery/falcon.png" alt=""></div>
          </div>
        </div>
      </section>

      <div class="shape-arc-up">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 220">
          <path fill="#091A2B" fill-opacity="1" d="M0,128L120,133.3C240,139,480,149,720,144C960,139,1200,117,1320,106.7L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"> </path>
        </svg>
      </div>
      <section class="bg-dark pt-9 pt-md-13 pt-lg-12 pt-xl-11" id="faq">

        <div class="container">
          <div class="row">
            <div class="col-md-6 mb-6">
              <div class="d-flex">
                <div class="badge badge-circle bg-success">?</div>
                <div class="ml-4">
                  <h4 class="text-white">Do I get free updates?</h4>
                  <p class="text-muted mb-0">Yes. We update all of our themes with each Bootstrap update, plus are constantly adding new components, pages, and features to our themes.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-6">
              <div class="d-flex">
                <div class="badge badge-circle bg-success">?</div>
                <div class="ml-4">
                  <h4 class="text-white">Can I get update regularly?</h4>
                  <p class="text-muted mb-0">Yes, We will get update the Bridge. And you can get it any time. Next time we will comes with more feature. You can be get update for unlimited times.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-6 mb-md-0">
              <div class="d-flex">
                <div class="badge badge-circle bg-success">?</div>
                <div class="ml-4">
                  <h4 class="text-white">Can I build a complete project with this template?</h4>
                  <p class="text-muted mb-0">Yes, Why not. You can build a project and complete website as you are like. More component are available include in this templete. And you can be use it following documentation.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex">
                <div class="badge badge-circle bg-success">?</div>
                <div class="ml-4">
                  <h4 class="text-white">How can I get the customer support?</h4>
                  <p class="text-muted mb-0">After purchasing the product need you any support you can be share with us with sending mail to info@themewagon.com we’re always glad to help you.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-dark py-8">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 text-center"><span class="badge mb-4 font-weight-normal text-uppercase bg-light text-primary">Get started</span>
              <h2 class="display-6 text-white">Get Bridge and save time.</h2>
              <p class="text-muted mb-4 mb-md-6">our team has front-end and back-end experience to design and build intuitive systems that stores and presents a ton of information in the most user-friendly way.</p><a class="btn btn-lg btn-success hover-top-shadow text-white" href="#!">Buy it now
                <svg class="bi bi-arrow-right-short" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.793 8 8.146 5.354a.5.5 0 0 1 0-.708z"></path>
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5H11a.5.5 0 0 1 0 1H4.5A.5.5 0 0 1 4 8z"></path>
                </svg></a>
            </div>
          </div>
        </div>
      </section>
      {% endblock %}